.file-container {
  position: relative;
  width: fit-content;
  margin: 25px auto;
}

.file-tab {
  position: absolute;
  top: -20px;
  left: 0;
  width: 50%;
  height: 40px;
  background-color: #B1CCE2;
  border-radius: 10px 15px 0 0;
  z-index: 1;
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
}

.co-child-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f8fa !important;
  border: 5px solid #B1CCE2 !important;
  border-radius: 0 15px 15px 15px !important;
  padding: 1px !important;
  width: 300px;
  height: 200px;
  margin: 0;
  z-index: 2;
}

.co-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border: 2px dashed #B1CCE2;
  border-radius: 0 15px 15px 15px;
  padding: 15px 23px;
  
}

.co-image-section {
  flex: 0 0 auto;
  height: 135px;
}

.co-child-image {
  width: 100px;
  height: 112px;
  object-fit: cover;
  border-radius: 20px;
}

.co-info-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.co-info-item h3 {
  font-size: 24px;
  margin: 0 0 5px 0;
}

.co-info-item p {
  font-size: 20px;
  margin: 5px 0;
}

.co-status-badge {
  background: #B1CCE2;
  color: white;
  padding: 5px 5px;
  border-radius: 10px;
  width: 90px;
  display: inline-block;
}

.co-status-badge:hover {
  background-color: #9BB8D3;
}