.counselor-cam {
  max-width: 500px;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.counselor-cam video {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  border-radius: 10px;
}
