# node_modules 폴더는 Docker 빌드 컨텍스트에 포함하지 않습니다.
node_modules

# npm 또는 yarn 로그 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Git 관련 파일들
.git
.gitignore

# 환경 변수 파일 (필요에 따라)
.env

# (선택사항) 기타 빌드에 불필요한 파일들
README.md
