/* src/pages/UnauthorizedPage.css */
.unauthorized-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f8f8f8;
    padding: 20px;
  }
  
  .unauthorized-container h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .unauthorized-container p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 30px;
  }
  