.ch-review-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 100px;
    gap: 70px;
    position: relative; /* 부모 요소 기준 */
}

.ch-review-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url("/test/sample3.jpg");
    background-size: cover;
    opacity: 0.4; 
    z-index: -1; 
}

.ch-review-game-left,
.ch-review-game-right {
    width: 40%; 
}