.video-page-container {
   padding: 3rem;
   width: 100vw;
   height: 100vh;
   margin: 0;
   background: linear-gradient(135deg, #a4d2ff, #eef5fc);
   border-radius: 0;
   box-shadow: none;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.page-title {
   text-align: center;
   color: #ffffff;
   font-size: 2.5rem;
   font-weight: bold;
   margin-bottom: 4rem;
   text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.videos-container-m {
   display: flex;
   gap: 2rem;
   flex-wrap: wrap;
   justify-content: center;
   width: 100%;
   max-width: 1400px;
}

.video-section-m {
    position: relative;
    min-width: 320px;
    max-width: 550px;
    background: #f3f7ff;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

/* 파일 탭 추가 */
.video-section-m::before {
   content: '';
   position: absolute;
   top: -20px;
   left: 0;
   width: 50%;
   height: 40px;
   background-color: #eef5fc;
   border-radius: 10px 15px 0 0;
   z-index: 1;
   clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
}

/* 메인 컨테이너 스타일 */
.video-section-m .controls-row-m,
.video-section-m .video-container-m {
   background: #f5f8fa;
   border: 4px solid #B1CCE2;
   border-radius: 0 15px 15px 15px;
   padding: 10px;
   position: relative;
   z-index: 1;
}

.controls-row-m {
   display: flex;
   flex-direction: row;
   gap: 1rem;
   margin-bottom: 1.5rem;
   align-items: center;
   width: 100%;
}

/* .date-picker-m {
   flex: 3;
}

.emotion-picker-m {
   flex: 1;
}

.video-picker-m {
   flex: 2;
} */

.control-item label {
   display: block;
   font-size: 1rem;
   color: #666;
   font-weight: bold;
   margin-bottom: 0.5rem;
}

.control-item select,
.control-item input {
   width: 100%;
   padding: 0.75rem;
   border-radius: 8px;
   border: 1px solid #ccc;
   background: #fff;
   transition: all 0.3s ease-in-out;
}

.control-item input:focus,
.control-item select:focus {
   border-color: #4076ff;
   outline: none;
   box-shadow: 0 0 8px rgba(255, 64, 129, 0.2);
}

.video-container-m {
    position: relative;
    width: 100%;
    height: 300px; /* 고정 높이 설정 */
    overflow: hidden;
    border-radius: 10px;
    background: #f5f5f5;
    margin-top: 1rem;
}

.video-placeholder {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

/* videos-container 내의 Dropdown 스타일 */
.videos-container-m .control-item :global(.dropdown-input.p-dropdown) {
   width: 100%;
   border-radius: 8px;
}
  
.videos-container-m .control-item :global(.dropdown-input.p-dropdown) :global(.p-dropdown-label) {
   padding: 0.75rem;
   border-radius: 8px;
}
  
.videos-container-m .control-item :global(.dropdown-input) :global(.p-dropdown-items) {
   padding: 0.5rem;
}
  
.videos-container-m .control-item :global(.dropdown-input) :global(.p-dropdown-item) {
   padding: 0.75rem 1rem;
}
  
.videos-container-m .control-item :global(.dropdown-input) :global(.p-dropdown-item:hover) {
   background: #dcdcdc;
   color: #fff;
}

@media (max-width: 768px) {
   .controls-row-m {
       flex-direction: column;
       gap: 1rem;
   }

   .video-section-m {
       max-width: 100%;
   }
}