
.ch-big-card-container{
    padding-top: 5px;
    width: 70vw;
    height: 70vh;
    padding-right: 2vw;
    max-width: 25vw;
    max-height: 80vh;
    overflow: visible;
    justify-content: center;
    display: flex;
    align-items: center;
}


.ch-big-card {
    flex: 1;
    width: 90%;
    position : relative;
    aspect-ratio: 1 / 1.3; /* 비율 유지 */
    padding-left : 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.ch-big-card img {
    width: 80%;
    height: auto;
    object-fit: contain;
    display: block;
    position: relative;
    z-index: 5;
    margin-top: -12px;

}

.ch-big-name-card {
    position :absolute;  
    width: 100%;
    height: 60%;
    bottom: -10px;
    left : 48%;
    transform: translateX(-50%);
                /* 왼쪽위 오른쪽위 오른쪽 아래 왼쪽아래 */
    border-radius: 10% 10% 10% 10%;        
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ch-big-card-name {
    text-align: center;
    padding-top: 50px;
    font-size: clamp(1.5rem, 5vw, 3rem);
    font-family: 'Jua';
}


/* 마우스 갖다 댔을시 호버 */
.card-hover-text {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(12, 12, 12);
    font-size: clamp(1rem, 2vw, 2rem);
    opacity: 0;
    z-index: 10;
    font-family: 'Jua';
}

.ch-big-card-container:hover .card-hover-text {
    opacity: 2;
}
