.ch-game-screen-container {
    display: flex;
    justify-content: center;
    /* font-family: "Jua"; */
    border-radius: 3%;

}

.ch-game-screen-container h2 {
    text-align: center;
}

.ch-game-screen-container h3 {
    text-align: center;
}

.ch-game-screen {
    width: 720px;
    height: 540px;
    min-height: 350px;
}