.IdFind-container {
    background: linear-gradient(to bottom, #DEF0FF, white);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  
     }
     
     .I_logo-container {
      position: fixed;
      top: 20px;
      left: 20px;
     }
     
     .find_logo {
      max-width: 48px;
      height: auto;
     }
     
     .I_card-container {
      background: white;
      border-radius: 20px;
      padding: 40px;
      width: 90%;
      max-width: 600px;
      box-shadow: none;
      margin: 6rem auto 0 auto;
     }
     
     .I_card-container h1 {
      text-align: center;
      font-size: 25px;
      margin-top: 100px;
      margin-bottom: 100px;
     }
     
     .I_button-container {
      display: flex;
      justify-content: center;
     }
     
     .ok-button {
      background-color: #DEF0FF !important;
      border: none !important;
      color: #9D9D9F !important;
      padding: 12px 150px !important;
      font-size: 16px !important;
      margin-bottom: 20px;
      outline: none !important;
      box-shadow: none !important;
      transform: none !important;
      border-radius: 10px;
     }
  
     .ok-button:hover {
      background-color: #B7DEFF !important;
      cursor: pointer;
     }
  