.co_main_container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem 2rem 2rem;
}

.co_hero_section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  background-color: #f0f7ff;
  margin-top: 1.2rem;
  /* width: 100vw; */
}

@media (max-width: 768px) {
  .co_hero_section {
    flex-direction: column;
  }
}

.co_hero_content {
    padding-left: 5rem;
    flex: 1;
    text-align: left;
  }

.co_service_title {
  font-size: 2.5rem;
  color: #2d4356;
  font-weight: 700;
  margin-bottom: 0px;
}

.co_service_title span {
    font-family: 'CookieRun', sans-serif;
   }

.co_service_subtitle {
  font-size: 1.2rem;
  color: #5c738a;
  margin-bottom: 2rem;
  font-weight: 400;
  margin-top: 0px;
}

.co_highlight {
  color: #FFBD59;
  font-weight: 900;
  font-size: 2.9rem;
  text-shadow: 
    -3px -3px 0 #804D01,
    -3px -2px 0 #804D01,
    -3px -1px 0 #804D01,
    -3px 0 0 #804D01,
    -3px 1px 0 #804D01,
    -3px 2px 0 #804D01,
    -3px 3px 0 #804D01,
    -2px -3px 0 #804D01,
    -2px 3px 0 #804D01,
    -1px -3px 0 #804D01,
    -1px 3px 0 #804D01,
    0 -3px 0 #804D01,
    0 3px 0 #804D01,
    1px -3px 0 #804D01,
    1px 3px 0 #804D01,
    2px -3px 0 #804D01,
    2px 3px 0 #804D01,
    3px -3px 0 #804D01,
    3px -2px 0 #804D01,
    3px -1px 0 #804D01,
    3px 0 0 #804D01,
    3px 1px 0 #804D01,
    3px 2px 0 #804D01,
    3px 3px 0 #804D01;
 }

.co_counselor_intro {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

.co_schedule_btn {
  background-color: #6b8cb3 !important;
  border: none !important;
  padding: 0.5rem 1rem !important;
  font-weight: 500 !important;
}

.co_hero_image {
    display: flex;
    justify-content: center;
   }

.co_hero_image img {
    max-width: 450px; 
    height: auto;
   }

.co_notice_section {
  margin-top: 3rem;
}

.co_notice_title {
  font-size: 1.4rem;
  color: #2d4356;
  margin-bottom: 2rem;
  margin-top: 0;
  font-weight: 900;
  padding-left: 10px;
}

.co_carousel .p-carousel {
  position: relative;
 }
 
 .co_carousel .p-carousel-content {
  position: relative;
  padding-bottom: 50px;
 }
 
 .co_carousel .p-carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
 }
 
 .co_carousel .p-carousel-indicators {
  display: none;
 }

 .carousel-container {
  position: relative;
}
 
.custom-indicator {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 14px;
  z-index: 1;
  margin: 0 auto;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
 .co_carousel .custom-indicator.p-highlight {
  background: #6b8cb3;
  color: #fff;
 }
 
 .co_carousel .p-carousel-prev,
 .co_carousel .p-carousel-next {
  position: absolute;
  bottom: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 30px;
  height: 30px;
 }
 
 .co_carousel .p-carousel-prev {
  left: calc(50% - 60px);
 }
 
 .co_carousel .p-carousel-next {
  right: calc(50% - 60px);
 }
 
 .co_carousel .p-carousel-item {
  padding: 0 10px;
 }

.co_notice_card {
    border-radius: 20px !important;
    border: 1px solid #CCCCCC !important;
    padding: 0.5rem !important;
    box-shadow: none !important;
  }
  
  .co_notice_tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .co_tag_group {
    display: flex;
    gap: 0.2rem;
  }
  
  .co_tag {
    padding: 0.3rem 0.5rem;
    /* border-radius: 10px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 0.7rem;
  }
  
  .co_tag_notice, .co_tag_author {
    background-color: #E9E9E9;
    color: #333;
    
  }
  
  .co_tag_new {
    color: #4B89DC;
    font-size: 0.6rem;
    font-weight: bold;
  }
  
  .co_notice_content {
  font-size: 1.0rem;                /* 글자 크기 설정 */
   overflow: hidden;                 /* 내용이 넘칠 경우 숨김 */
   text-overflow: ellipsis;         /* 넘친 텍스트를 ...으로 표시 */
   display: -webkit-box;            /* 웹킷 기반 브라우저를 위한 flexbox 설정 */
   -webkit-line-clamp: 3;           /* 최대 3줄까지 표시 */
   -webkit-box-orient: vertical;    /* 텍스트 방향을 세로로 설정 */
   line-height: 1.5;                /* 줄 간격을 글자 크기의 1.5배로 설정 */
   height: 4.5em;                   /* 높이 = line-height * 표시할 줄 수 */
   margin: 1rem 0;      
   padding-left: 1rem;
   padding-right: 1rem;
  }
  
  .co_notice_date {
    color: #999;
    font-size: 0.7rem;
    text-align: right;
  }

  .p-card-body {
    padding: 0px
  }

  .p-card-content {
    padding: 5px;
  }

  @media screen and (max-width: 1100px) {
    .carousel-container {
      padding: 0 30px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .carousel-container {
      padding: 0 25px;
    }
    
    .co_notice_card {
      margin: 0 8px;
    }
  }
  
  @media screen and (max-width: 576px) {
    .carousel-container {
      padding: 0 20px;
    }
  }

 