@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@font-face {
    font-family: 'CookieRun';
    src: url('/fonts/CookieRun.ttf') format('truetype');
   }

* {
  font-family: 'Noto Sans KR', sans-serif;
}

.co_main_container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.co_hero_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 7rem;
  background-color: #f0f7ff;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.co_hero_content {
    padding-left: 5rem;
    flex: 1;
    text-align: left;
  }

.co_service_title {
  font-size: 2.5rem;
  color: #2d4356;
  font-weight: 700;
  margin-bottom: 0px;
}

.co_service_title span {
    font-family: 'CookieRun', sans-serif;
   }

.co_service_subtitle {
  font-size: 1.2rem;
  color: #5c738a;
  margin-bottom: 2rem;
  font-weight: 400;
  margin-top: 0px;
}

.co_highlight {
  color: #FFBD59;
  font-weight: 900;
  font-size: 2.9rem;
  text-shadow: 
    -3px -3px 0 #804D01,
    -3px -2px 0 #804D01,
    -3px -1px 0 #804D01,
    -3px 0 0 #804D01,
    -3px 1px 0 #804D01,
    -3px 2px 0 #804D01,
    -3px 3px 0 #804D01,
    -2px -3px 0 #804D01,
    -2px 3px 0 #804D01,
    -1px -3px 0 #804D01,
    -1px 3px 0 #804D01,
    0 -3px 0 #804D01,
    0 3px 0 #804D01,
    1px -3px 0 #804D01,
    1px 3px 0 #804D01,
    2px -3px 0 #804D01,
    2px 3px 0 #804D01,
    3px -3px 0 #804D01,
    3px -2px 0 #804D01,
    3px -1px 0 #804D01,
    3px 0 0 #804D01,
    3px 1px 0 #804D01,
    3px 2px 0 #804D01,
    3px 3px 0 #804D01;
 }

.co_counselor_intro {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

.co_schedule_btn {
  background-color: #6b8cb3 !important;
  border: none !important;
  padding: 0.5rem 1rem !important;
  font-weight: 500 !important;
}

.co_hero_image {
    flex: 1;
    display: flex;
    justify-content: center;
   }

.co_hero_image img {
    max-width: 90%;  /* 부모 요소의 80% */
    height: auto;
   }

.co_notice_section {
  margin-top: 4rem;
}

.co_notice_title {
  font-size: 1.2rem;
  color: #2d4356;
  margin-bottom: 2rem;
  font-weight: 900;
}

.co_carousel {
  padding: 0 1rem;
}

.co_carousel .p-carousel-item {
  padding: 0 0.5rem;
}

.co_notice_card {
    border-radius: 20px !important;
    border: 1px solid #CCCCCC !important;
    padding: 1.2rem !important;
    box-shadow: none !important;
  }
  
  .co_notice_tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .co_tag_group {
    display: flex;
    gap: 0.2rem;
  }
  
  .co_tag {
    padding: 0.3rem 0.5rem;
    border-radius: 10px;
    font-size: 0.7rem;
  }
  
  .co_tag_notice, .co_tag_author {
    background-color: #E9E9E9;
    color: #333;
  }
  
  .co_tag_new {
    color: #4B89DC;
    font-size: 0.6rem;
  }
  
  .co_notice_content {
    font-size: 1.2rem;
    margin: 1rem 0;
  }
  
  .co_notice_date {
    color: #999;
    font-size: 0.9rem;
    text-align: right;
  }

  .p-card-body {
    padding: 0px
  }

  .p-card-content {
    padding: 5px;
  }

