.co-schedule-container {
    flex-direction: column;
    position: relative;
    min-height: 100vh; 
    display: flex;
    justify-content: space-between;
    background-color: #F8F8F8;
}

.co-mypage-container {
    width: 100%;
    max-width: 1200px;
    /* background-color: #fcf2eb; */
    margin: 0 auto;
}

.co-mypage-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.co-profile-section {
    display: flex;
    gap: 70px;
    align-items: flex-start;
    max-width: 800px;
    margin: 0 auto;
}

.co-profile-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.co-profile-image-container {
    width: 280px;
    height: 280px;
    border-radius: 10px;
    margin-top: 21px;
    overflow: hidden;
}

.co-profile-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.co-profile-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 280px; /* 프로필 이미지와 동일한 높이 */
}

.co-info-group {
    display: flex;
    flex-direction: column;
    width: 430px;
    gap: 3px;
}

.co-info-group label {
    font-size: 15px;
    font-weight: bold;
    color: #1A2A4D;
}

.co-info-input {
    width: 100%;
    height: 42px;
    padding: 10px 12px;
    border: 1.5px solid #3A5E8D;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
}

.co-info-input:read-only {
    background-color: #fff;
    cursor: default;
    pointer-events: none;
    user-select: none;
}
.co-change-password-btn {
    width: 160px;
    padding: 6px 0;
    background-color: #3A5E8D;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

/* .co-change-password-btn:hover {
    background-color: #2d4a70;
} */

/* 반응형 디자인 */
@media (max-width: 768px) {
    .co-profile-section {
        flex-direction: column;
        align-items: center;
    }

    .co-profile-image-container {
        width: 200px;
        height: 200px;
    }

    .co-profile-info {
        width: 100%;
        max-width: 400px;    /* 입력 필드의 최대 너비 설정 */
        margin: 0 auto; 
    }
    
    .co-change-password-btn {
        width: 200px;
    }
}