.co_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    font-family: 'Noto Sans', sans-serif;
  }
  
  .co_logo {
    height: 40px;
    width: auto;
  }
  
  .co_nav-list {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    margin-left: auto;
  }
  
  .co_nav-item {
    cursor: pointer;
    font-weight: bold;
    color: #1A2A4D;
    position: relative;
  }
  
  .co_nav-item::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #1A2A4D;
    transition: width 0.3s;
    transform: translateX(-50%);
   }
  
  .co_nav-item:hover::after {
    width: 100%;
  }